#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

main {
  flex: 1;
  padding: 0;
  text-align: center;
  position: relative;
  min-height: auto;
}

.fixed-logos {
  position: fixed;
  bottom: 5px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.logo-apchq,
.logo-rbq {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #AD8A64;
  padding: 10px 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  pointer-events: all;
  width: auto;
  margin-right: -10px;

  height: 70px;
  white-space: nowrap;

}

.logo-rbq {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #AD8A64;
  padding: 10px 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  pointer-events: all;
  width: auto;


  height: 70px;
  white-space: nowrap;

}

.logo-apchq img,
.logo-rbq img {
  width: 40px;
  /* Taille des logos */
  height: auto;
  margin-right: 10px;
  margin-left: 5px;
  /* Espacement entre l’image et le texte */
}

.logo-rbq img {
  width: 40px;
  /* Taille des logos */
  height: auto;
  margin-left: 10px;
  /* Espacement entre l’image et le texte */
}

.logo-rbq p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: left;
  line-height: 1.2;
  white-space: nowrap;
  margin-right: 100px;
  margin-left: 100px;
}

.logo-apchq p,
.logo-rbq p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: left;
  line-height: 1.2;
  white-space: nowrap;

}

/* ✅ Ajustements pour écrans très larges */
@media (min-width: 1600px) {
  .fixed-logos {
    gap: 500px;

  }

  .logo-rbq p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: left;
    line-height: 1.2;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 20px;
  }

  .logo-apchq img {

    width: 40px;
    /* Taille des logos */
    height: auto;
    margin-right: 20px;
    margin-left: 20px;

  }

  .logo-apchq {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AD8A64;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    pointer-events: all;
    width: auto;
    margin-right: 700px;

    height: 70px;
    white-space: nowrap;

  }

  .logo-rbq {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AD8A64;
    padding: 10px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    pointer-events: all;
    width: auto;
    margin-right: 0px;

    height: 70px;
    white-space: nowrap;

  }

  .logo-apchq p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: left;
    line-height: 1.2;
    white-space: nowrap;
    margin-left: -5px;
    margin-right: 10px;
  }
}

/* ✅ Adaptation pour les petits écrans */
@media (max-width: 768px) {
  .fixed-logos {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .logo-apchq {
    align-self: flex-start;
    margin-left: 60px;
  }
}



.travaux-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 30px;
  text-align: left;
  width: 100%;
  margin-top: 5px;
}

.travaux-container img {
  width: 100px;
  height: auto;
}

.travaux-container h3 {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);

  animation: fadeInAnimation 1.5s ease-in-out forwards;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ECE2D0;

}

* {
  box-sizing: border-box;
  max-width: 100%;

}


@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.head-text {
  position: relative;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 15px;
  }

  .text-on-image {
    width: 90%;
    max-width: 500px;
    padding: 15px;
    text-align: center;

  }

  .menuListStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
  }

  header {
    height: auto;
    padding: 15px 0;
  }

  .footer-container {
    width: 100%;
    padding: 10px;
  }

  .text-on-image h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .text-on-image p {
    font-size: 14px;
    line-height: 1.5;
  }

  .text-on-image button {
    padding: 10px 15px;
    font-size: 14px;
  }


  .services-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    /* Réduction de l'espace entre les services */
    flex-wrap: wrap;
    margin-bottom: 20px;
    /* Ajout d'un petit espace avant "Types de Travaux" */
  }

  .fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 3s ease-out, transform 3s ease-out;
  }

  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }


  div {
    width: 100%;
    min-height: auto;

    overflow: hidden;
    position: relative;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;

  }

}


.text-on-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 700px;
  padding: 5vw;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.card {
  padding: 2em;
}


.footer {
  width: 100%;
  padding: 20px 0;
  background-color: #AD8A64;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;

  margin-top: auto;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;

  justify-content: center;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.footer-section:nth-child(2) {
  padding-top: 50px;
}

.footer-section.contact {
  padding-top: 20px;
}

header {
  overflow: visible;
}


.language-buttons {
  margin-top: 20px;
}

.lang-btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.lang-btn:hover,
.contact-btn:hover {
  background-color: #D3B48E;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #AD8A64;
  }

  .footer-section {
    flex: 1;
    text-align: center;
  }


}

.footer-section h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
  margin: 5px 0;
}


.footer-section img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}


.footer-section .footer-link {
  display: block;
  color: #FFD700;
  text-decoration: none;
  margin-top: 5px;
}


.footer-button-container {
  text-align: center;
  margin-top: 10px;
}

.footer-button {
  color: white;
  background-color: #8B5E3C;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s;

}

.footer-button:hover {
  background-color: #6A3E25;
}



.footer-copyright {
  text-align: center;
  margin-top: 40px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 10px;
}

.footer-section:last-child {
  margin-top: 100px;

}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-logo img {
  width: 200px;
  height: auto;
}




@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
  }

  .footer-section img {
    width: 20px;
    height: auto;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .form-layout {
    flex-direction: column;
    padding: 20px;
  }

  .info-box {
    margin-top: 30px;
  }
}

.form-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 80px;
  max-width: 1400px;
  margin: 0 auto;
  gap: 80px;
}


.form-container {
  flex: 1.2;
  max-width: 700px;
}

.info-box {
  flex: 0.9;
  background-color: #f3ede2;
  border-left: 4px solid #AD8A64;
  padding: 20px;
  border-radius: 10px;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  max-width: 400px;

  margin-top: 150px;
}

.info-box-rdv {
  flex: 0.9;
  background-color: #f3ede2;
  border-left: 4px solid #AD8A64;
  padding: 20px;
  border-radius: 10px;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  max-width: 400px;

  margin-top: 200px;
}

.info-box h3 {
  margin-top: 0;
  color: #AD8A64;
}

.info-box-rdv h3 {
  margin-top: 0;
  color: #AD8A64;
}

.form-container {
  width: 60%;
  max-width: 800px;
  min-width: 300px;
  margin-left: 40px;
  text-align: left;
}

.read-the-docs {
  color: #888;
}